<mat-toolbar class="bar">
  <button mat-raised-button class="button" (click)="goLogin()">Ingresar a JobBrainProfile</button>


</mat-toolbar>
<div class="background">

<div class="center">
  <img src="../../../assets/images/imagelogo.png" class="logo" id="home">
  
</div>
<div class="center">
  <p class="slogan">"Find Your Dream Job with Us!"</p>
</div>
<div class="center">
  <mat-card class="card">
    <img src="../../../assets/images/image 10.png" class="postulant">
    
      <p class="purpose">Aplicación enfocada en estudiantes de pregrado de la carrera de Ingeniería de Software de la UPC enre 18 y 30 años</p>
   
  </mat-card>
</div>

<div class="center">
<mat-card class="functions" id="services">
<div class="centerimg">
  <img src="../../../assets/images/image 13.png" class="funcimg2">

</div>
<div class="centerimg">
  <p class="type">Cuestionarios de puestos de trabajo propocionados por expertos obtenidos de Testlify y TestGorilla para determinar tus habilidades</p>

</div>
<div class="centerimg">
  <img src="../../../assets/images/testGorilla.png" class="funcimg2">
</div>
</mat-card>
</div>

<div class="center">
  <mat-card class="functions">
    <div class="centerimg">
      <img src="../../../assets/images/image 8.png" class="funcimg">
    </div>
    <div class="centerimg">
      <p class="type">Se te recomendarán ofertas de linkedin basados en tus habilidades  </p>
    </div>
  </mat-card>
  </div>
  
<div class="center">
  <mat-card class="functions">
    <div class="centerimg">
      <img src="../../../assets/images/image 19.png" class="funcimg3">
    </div>
    <div  class="centerimg">
      <p class="type">Se te recomendarán cursos para capacitarte para tener más oportunidades de tener la oferta de trabajo recomendada </p>

    </div>
  </mat-card>
  </div>











</div>