

.img{
  width: 80%;
 
}
.bar{
  display: flex;
  justify-content: space-between;
  background-color:skyblue;
}
.slogan{
  font-family: 'Futura';
font-style: normal;
font-weight: 700;
font-size: 2rem;
}
a{
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
}
