.background{
  background-image: url('../../../../../assets/images/adminimage.png');
  background-position: center;
  background-size: cover;
  
  background-repeat: no-repeat;
  height: auto;

  z-index: -1;
    


}
.title {
    
    text-align: center;
  
    margin-bottom: 30px;
    font-family: 'Futura';
  font-weight:bold;
  font-size: 2.5rem;
  }
  .icon{
    margin-left: auto;
  }
  .button2{
    background-color: transparent;
}

.item{
      width: 90%;
    margin-bottom: 50px;
    display: flex;
    justify-content:space-between;
  

}
.formut{
    display: flex;
    justify-content: center;
}
.text{
    font-family: 'Futura';
    font-weight: bold;
    font-style: normal;
    font-size: 2.5rem;
}
.titletest{
    font-family: 'Futura';
    font-weight: bold;
}
p{
    font-family: 'Futura';
    font-weight: italic;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;

}
.groups{
    display: flex;
    justify-content: space-between;
}
.space{
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .button{
    font-size: 1.7rem;
    font-weight: bold; 
    font-family: 'Futura';
    margin-bottom: 20px;
    width: 80%;
  }
  .spaceform{
    display: flex;
    justify-content:center;
    flex-direction: column;
  }
  .spaceform2{
    display: flex;
    margin-left: 50px;
    align-items:center;
  }
  .spaceformunique{
    height: 500px;
  }
  .loading-container {
    
   
    height: 100vh; 
    display: flex;
    justify-content: center;
  }
