
<app-navigaion-postulant></app-navigaion-postulant>



<div class="background">
<br>
<mat-radio-group aria-label="Select an option" [(ngModel)]="type" class="group" *ngIf="dataSourceoriginal.data.length">
    <mat-radio-button value="name">Buscar por nombre</mat-radio-button>
    <mat-radio-button value="date">Buscar por fecha</mat-radio-button>
  </mat-radio-group>

<form class="center" [formGroup]="nameform" *ngIf="type=='name'">
    <mat-form-field class="input" appearance="outline"  >
        <input placeholder="Buscar" matInput formControlName="name"> 
        <mat-hint>Buscar recomendacion</mat-hint>
    </mat-form-field>
    <br>
    <button mat-flat-button color="primary" class="button"  [disabled]="!(nameform.valid)" (click)="findbyMainJob()">Buscar</button>
</form>
<form class="center" [formGroup]="dateform" *ngIf="type=='date'">
    <mat-form-field class="input" appearance="outline">
        <input matInput [matDatepicker]="picker" formControlName="date"> 
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <button mat-flat-button color="primary" class="button" [disabled]="!(dateform.valid)" (click)="findbyDate()">Buscar</button>
</form>



<mat-grid-list [cols]="cols" rowHeight="500px" *ngIf="start; else loadingSpinner">
    <mat-grid-tile *ngFor="let item of dataSource.data" >
<mat-card class="card">
    <img src="../../../../assets/images/image 7.png">
    <div class="center2">
        <p>Trabajo: {{item.jobName}}</p>
      </div>
    <div class="center2">
        <p>{{item.ObtainDate}}</p>

    </div>
    <div class="center2">
         <button mat-raised-button class="see" (click)="GoToPast(item.ObtainDate,item.resultTest)">Ver</button>
    </div>
</mat-card>
</mat-grid-tile>




     


</mat-grid-list>
<div class="centermax" *ngIf="dataSource.data.length==0 && start">
    <p class="norecommendation">No hay Recomendaciones Anteriores</p>
</div>
<ng-template #loadingSpinner>
    <div class="loading-container">
      <mat-spinner diameter="500"></mat-spinner>
    </div>
  </ng-template>





</div>
