
<app-spinner></app-spinner>
<app-navigation-admin></app-navigation-admin>
<div class="background">

<form [formGroup]="changesquestion">
  <mat-card class="card">
    <h2 class="title">Crear Preguntas para la Sección en Edición</h2>
  <mat-form-field appearance="outline" class="matfield">
         
    <input matInput placeholder="Nombre de la pregunta" type="text"  formControlName="namequestion"   #namequestion>
    <mat-icon matSuffix >view_headline</mat-icon>
    <mat-error  align="start" *ngIf="changesquestion.controls['namequestion'].dirty && changesquestion.hasError('required','namequestion')">Es requerido</mat-error>
    <mat-error  align="end" *ngIf="changesquestion.controls['namequestion'].dirty && changesquestion.hasError('minlength','namequestion')">Más de tres caracteres</mat-error>
   
    
   
</mat-form-field>
  <button mat-raised-button class="button" [disabled]="!(changesquestion.valid)" (click)="createquestion()">Crear Pregunta</button>
  </mat-card>
</form>











</div>







