<app-spinner></app-spinner>

<div class="background">
<form [formGroup]="forgotform">
    <mat-card class="card">
        <h2 class="title">CAMBIO DE CONTRASEÑA</h2>

        <div>
            <p class="subtittle">Ingrese su correo para enviarle el formato de cambio de contraseña</p>
        </div>

        <mat-form-field class="input" appearance="outline">
            <input matInput placeholder="Correo electronico" type="email" [(ngModel)]="ResetPassword.email" formControlName="email" #email/>

            <mat-icon matSuffix>email</mat-icon>
            <mat-error  align="start" *ngIf="forgotform.controls['email'].dirty && forgotform.hasError('required','email')">Es requerido</mat-error>
            <mat-error  align="start" *ngIf="forgotform.controls['email'].dirty && forgotform.hasError('email','email')">Debe ser un email</mat-error>
        </mat-form-field>

        <button mat-raised-button class="button"  [disabled]="!(forgotform.valid)" (click)="submit()">Enviar</button>
        <div class="forgot-links">
            <a routerLink="/login">Inicio de Sesión</a>
            <span></span>
            <a routerLink="/register">Registrarse</a>
          </div>
    </mat-card>

</form>
</div>
