.card {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #E3F2FD
  }
  .title {
    text-align: center;
    
    margin-bottom: 30px;
  }
  .input {
    width: 100%;
    margin-bottom: 20px;
   
  }
  .button {
    width: 100%;
    
    
    background-color:#0288D1;
  }
  .background {
    background-image: url('../../../../assets/images/configure.jpg');
    background-size: cover;
    background-position: center;
   
    width: 100%;
    z-index: -1;
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
  
  }



  .section{

    display: flex;
   flex-direction: column;
    justify-content: space-evenly;
    
    
  }
  .img{
   
  }
  .center{
    display: flex;
    justify-content: center;
  
  }
  .nombre-:-nombre {
    height: 15%;
    width: 50%;
    background-color: #ffffff;
    
  }
  .text-1 {
    text-align: center;
  
    font-size: 36px;
    font-family: Roboto;
    
    color: #ffffff;
  }
  .sec{
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-between;
  }
  .section2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (max-width: 767px) {


    .background {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }
    .card {
        width: 95%;
    }
    





  }


















  