.center{
    display: flex;
    justify-content: center;
}
p{

    font-family: Futura;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; 
    letter-spacing: 0.25px;
}
.tittle{
    font-family: Futura;
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
    line-height: 20px; 
    letter-spacing: 0.25px;
}
.jobs{
    max-height: 300px;
    overflow-y: scroll;
}
.card{
    background-color: whitesmoke;
    border: 2px solid black;
}
.see{
    border-radius: 3px;
background: #000;
font-family: Futura;
font-size: 1.2rem;
font-style: normal;
font-weight: 500;
line-height: normal;
color:white;

  }