<app-navigaion-postulant></app-navigaion-postulant>





<div class="background">
  <br>
<div class="card">
  
<p class="tittle">Test de orientación profesional</p>
<br>
<p class="sub">Los tests son útiles para la identificación de tus fortalezas y limitaciones individuales lo que permite conocerte a ti mismo 
  ademas de apoyarte a formar tu perfil profesional para la obtención de empleos relacionados a este.</p>
  <br>
<p class="sub"> 
  Antes del inicio del test de orientacion profesional primero hay que verificar que estas preparado para dar un buen cuestionario con el siguiente 
  test de estabilidad emocional
</p>
<br>
<button  mat-raised-button class="button" (click)="continue()">Iniciar el test de estabilidad emocional</button>
<br>
</div>
</div>