
<app-spinner></app-spinner>

<app-navigation-admin></app-navigation-admin>
<div class="background">
<form [formGroup]="changesection">
  <mat-card class="card">
    <h2 class="title">Crear Secciones del Cuestionario</h2>
    <mat-form-field appearance="outline" class="matfield">
         
      <input matInput placeholder="Nombre de la seccion" type="text" formControlName="namesection" [(ngModel)]="CreateSection.sectionname" #namesection maxlength="50">
      <mat-icon matSuffix >format_align_justify</mat-icon>
      <mat-error  align="start" *ngIf="changesection.controls['namesection'].dirty && changesection.hasError('required','namesection')">Es requerido</mat-error>
      <mat-error  align="start" *ngIf="changesection.controls['namesection'].dirty && changesection.hasError('minlength','namesection')">Más de tres caracteres</mat-error>

      <mat-hint align="end">{{namesection.value.length}} / 50</mat-hint>
     
  </mat-form-field>
  <mat-form-field appearance="outline" class="matfield">
         
    <input matInput placeholder="Puntaje" type="number" formControlName="totalscore" [(ngModel)]="CreateSection.totalscore">
    <mat-icon matSuffix >score</mat-icon>
    <mat-error  align="start" *ngIf="changesection.controls['totalscore'].dirty && changesection.hasError('required','totalscore')">Es requerido</mat-error>

   
</mat-form-field>
    <button mat-raised-button class="button" [disabled]="!(changesection.valid)" (click)="submit()">Crear Preguntas</button>
  </mat-card>

</form>








</div>