




.background{

    background-image: url('../../../../assets/images/home-postulant.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
   
    z-index: -1;

}
.center{
  display: flex;
  justify-content: center;
  text-align: center;
}
.content{
  display: flex;
  
  justify-content: space-between;
}

.content2{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width:70%;
}
.content22{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width:50%;
 
}
.img{
 
  margin-left: auto; margin-right: auto;
}
.card{
  margin-bottom: 50px;
  width: 80%;
  border-radius: 30pt;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.multiline-text {
  white-space: pre-wrap;
  text-align: center;

}

.start{
  border-radius: 24px;
  font-size: 1.2rem;
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  color:white;
  background-color:#1E88E5;
width: 30%;
}

.cardlefttitle{
  padding-left: 6%; 
  padding-right: 75%; 
  font-size: 1.7rem;
  text-align: center; 
  font-weight: bold; 
  font-family: 'Futura';
}
.cardrighttitle{
  padding-left: 65%; 
  padding-right: 15%; 
  text-align: center; 
  font-size: 1.7rem;
  font-weight: bold; 
  font-family: 'Futura';
}
   
.big{
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: column;
  
}
.contenthistorial{
  display: flex;
  
  justify-content: space-evenly;
}
.hisimg{
  border-color: red;
}
.text-1{
  padding-top: 10px;
  padding-left: 10px;
  font-family: 'Futura';
  vertical-align: middle;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  font-size: 2.5rem;
}
mat-card-title{
  font-family: 'Futura';
  font-style: normal;
font-weight: 700;

}
p{
  font-family: 'Futura';
  font-weight: italic;
  font-style: normal;
  font-size: 1.5rem;
  
}
@media (max-width: 767px) {

  .content{
    flex-direction: column;
  }

  .content2{
    width:100%;
  }
  .content22{
    width:100%;
  }
  .cardlefttitle{
   padding-right: 0%;
   padding-left: 0%;
  }
  .cardrighttitle{
    padding-right: 0%;
   padding-left: 0%;
  }
  .contenthistorial{
    flex-direction:column;
  }
  .content22{
    order:2;
    
  }
  img{
    order:1;
  }


}