




.background{

    background-image: url('../../../../assets/images/home-postulant.jpg');
    background-size: cover;
    background-position: center;
   height: 100%;
   
    z-index: -1;

}
.text-2 {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-family: Roboto;
    line-height: auto;
    color: #000000;
  }
  .text-1 {
    padding-top: 10px;
    vertical-align: middle;
    font-size: 36px;
    font-family: Roboto;
    line-height: auto;
    color: #000000;
  }
  .center{
    display: flex;
    justify-content: center;
  }
  .card{
    width: 30%;
    background-color: #87ceeb;
  }
  .button{
    width: 50%;
  }
  .centercorc{
    margin-left: 50px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (max-width: 1200px) {
    
    .card{
      width: 80%;
    }
    .text-1 {
      padding-top: 10px;
      vertical-align: middle;
      font-size: 20px;
      font-family: Roboto;
      line-height: auto;
      color: #000000;
    }
    .text-2 {
      text-align: center;
      vertical-align: middle;
      font-size: 15px;
      font-family: Roboto;
      line-height: auto;
      color: #000000;
    }
    img{
      height: 100px;
    }
  }

