


<app-navigaion-postulant></app-navigaion-postulant>

<div class="background" >

  <p class="text-1">
    Bienvenido Postulante {{name}}  {{last_name}}
  </p>
  <div class="centercorc">
 
    <button class="card" mat-flat-button>
     
      <div class="center">
        <img src="../../../../assets/images/wallet.png" />
      </div>
   
      <p class="text-2">Recomendación de empleos</p>
  



    </button>

    
    <button class="card" mat-flat-button>
      <div class="center">
        <img src="../../../../assets/images/history.png" />
      </div>
   
    <p class="text-2">Historial de recomendaciones</p>
    </button>

  </div>
 

</div>
