.background{

    background-image: url('../../../../../assets/images/home-postulant.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
  
    z-index: -1;

}
.tittle{
    font-size: 3rem;
    font-weight: bold; 
    font-family: 'Futura';
    line-height: 1;
    
}