.background{
  background-image: url('../../../../../assets/images/adminimage.png');
  background-position: center;
  background-size: cover;
  
  background-repeat: no-repeat;
  
  z-index: -1;
    


}
.title {
    
    text-align: center;
  
    margin-bottom: 30px;
    font-family: 'Futura';
  font-weight:bold;
  font-size: 2.5rem;
  }
  .icon{
    margin-left: auto;
  }
  .button2{
    background-color: transparent;
}

.item{
      width: 90%;
    margin-bottom: 50px;
    display: flex;
    justify-content:space-between;
  

}
.formut{
    display: flex;
    justify-content: center;
}
.text{
    font-family: 'Futura';
    font-weight: bold;
    font-style: normal;
    font-size: 2.5rem;
}
.titletest{
    font-family: 'Futura';
    font-weight: bold;
}
p{
    font-family: 'Futura';
    font-weight: italic;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;

}
.groups{
    display: flex;
    justify-content: space-between;
}
.space{
    display: flex;
    justify-content: center;
    
  }
  .button{
    font-size: 1.7rem;
    font-weight: bold; 
    font-family: 'Futura';
    margin-bottom: 20px;
    width: 80%;
  }
  .principal{
    background-color: #DDDDDD;
    width: 70vw;
   
    margin-bottom: 40px;
}
.matfield{
  width: 100%;
}
form{
  display: flex;
  justify-content: center;
}
.button3{
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.7rem;
  font-weight: bold; 
  font-family: 'Futura';
}
.loading-container {
    
   
  height: 100vh; 
  display: flex;
  justify-content: center;
}