<app-navigation-admin></app-navigation-admin>
<div class="background">
  <br>
  <p class="text-1">
    Bienvenido Administrador {{name}} {{last_name}}
  </p>
  <br>
  <br>
<div class="big">
  


  <mat-card class="card">
    <br>
    <mat-card-title class="cardlefttitle">Postulantes</mat-card-title>
    <br>
    <mat-card-content class="content">
      <div style="margin-left: auto; margin-right: auto;">
        <img src="../../../../assets/images/postulants.png">

      </div>

      <div class="content2">
       
      
     
    
        <p>
          En esta sección podrás visualizar todos los postulantes registrados dentro 
          de la plataforma para que puedas realizar el respectivo seguimiento y gestionamiento.
        </p>
     
        <div class="center"><button mat-raised-button class="start" (click)="postulants()">Ver</button></div>
      </div>

    </mat-card-content>
    <br>
  </mat-card>



  <br>
  <br>
  <mat-card class="card">
    <br>
    <mat-card-title class="cardrighttitle">Crear administradores</mat-card-title>
    <br>
    <mat-card-content class="contenthistorial">
      <div class="content22">
        <p  style="margin-left: auto; margin-right: auto;">
          Aqui se encuentra el formulario de registro de nuevos administradores esto permitirá que 
          en JobBrainProfile haya mas gestionadores para los postulantes y 
          sus resultados dentro de la plataforma.
        </p>
     
        <div class="center"><button mat-raised-button class="start" (click)="createAdmin()">Crear</button></div>
      </div>
      <div class="img">
        <img src="../../../../assets/images/create_admins.png" class="hisimg">

      </div>
    </mat-card-content>
    <br>
  </mat-card>
  
  <br>
  <br>
  <mat-card class="card">
    <br>
    <mat-card-title class="cardlefttitle">Editar cuestionarios</mat-card-title>
    <br>
    <mat-card-content class="content">
      <div style="margin-left: auto; margin-right: auto;">
        <img src="../../../../assets/images/edit_tests.png" >

      </div>

      <div class="content2">
        <p>
          En esta sección se podrá realizar las ediciones de todos los cuestionarios o tests creados para la plataforma.
        </p>
     
        <div class="center"><button mat-raised-button class="start" (click)="editTest()">Editar</button></div>
      </div>
    </mat-card-content>
    <br>
  </mat-card>
  <br>
  <br>
  <mat-card class="card">
    <br>
    <mat-card-title class="cardrighttitle">Crear cuestionarios</mat-card-title>
    <br>
    <mat-card-content class="contenthistorial">
      <div class="content22">
        <p style="margin-left: auto; margin-right: auto;">
          Aqui se encuentra el formulario de creación de todos los tests o cuestionarios para JobBrainProfile, 
          se pueden crear todos los tests de orientación profesional, test de estabilidad emocional 
          y test de situación actual.
        </p>
     
        <div class="center"><button mat-raised-button class="start" (click)="createTest()">Crear</button></div>
      </div>
      <div class="img">
        <img src="../../../../assets/images/create_tests.png" class="hisimg">

      </div>
    </mat-card-content>
    <br>
  </mat-card>
</div>

</div>