<app-navigation-admin></app-navigation-admin>
<div class="background">
  <p class="text-1">
    Bienvenido Admin: {{name}} {{last_name}}
  </p>

  <div class="centerall">
    <div class="centercorc">
    <button class="card" mat-flat-button (click)="postulants()">
       
      <div class="center">
        <img src="../../../../assets/images/postulant.png" />
      </div>
   
      <p class="text-2">Postulantes</p>
  
  
  
  
    </button>
    <button class="card" mat-flat-button (click)="createAdmin()">
      <div class="center">
        <img src="../../../../assets/images/create-admin.png" />
      </div>
   
    <p class="text-2">Crear Administradores</p>
    </button>
    </div>
    <div class="centercorc">
    <button class="card" mat-flat-button>
      <div class="center">
        <img src="../../../../assets/images/test.png" />
      </div>
   
    <p class="text-2">Cuestionarios de exitos</p>
    </button>
    <button class="card" mat-flat-button (click)="createTest()">
      <div class="center">
        <img src="../../../../assets/images/create-test.png" />
      </div>
   
    <p class="text-2">Crear Test Profesionales</p>
    </button>
    </div>
  </div>






</div>