.background{


    background-image: url('../../../../assets/images/adminimage.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    height: 50vw;


}
.text-1 {
    padding-top: 10px;
    padding-left: 10px;
    vertical-align: middle;
font-size: 2vw;
    font-family: Roboto;
    line-height: auto;
    color: white;
  }

  .card{
    width: 30%;
   
    background-color: #C2C2C2;
  }
  .centercorc{
   
    display: flex;
    
    justify-content: space-evenly;
    margin-top: 30px;
  }
  .centerall{
     display: flex;
     flex-direction: column;
justify-content: space-between;
   
  
  }
  .text-2 {
    text-align: center;
    vertical-align: middle;
    font-size: 2vw;
    font-family: Roboto;
    line-height: auto;
    color: #000000;
  }
  img{
   
    width: 50%;
  }
  @media (max-width: 767px) {

    
   .centercorc{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
 
   }
   
    .card{
      width: 80%;
    }
    .text-1 {
      font-size: 6vw;
    }
    .background{
      height: 1200px;
    }
    .text-2 {
    
      font-size: 5vw;
    
    }




  }