/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Futura';
    src: url('./assets/fonts/futur.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url('./assets/fonts/Futura-CondensedLight.otf') format('truetype');
    font-weight: italic;
    font-style: normal;
  }
  @font-face {
    font-family: 'Futura';
    src: url('./assets/fonts/FuturaBoldfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #1E88E5;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

