.background {
    background-image: url('../../../../assets/images/change-image.jpg');
    background-size: cover;
    background-position: center;
    height: 101vh;
    width: 100vw;
    
    z-index: -1;




    display: flex;
  justify-content: center;
  align-items: center;


  }
  .card {
    width: 700px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 30px;
    background-color: #cceeff
  }

  .title {
    text-align: center;
    
    margin-bottom: 30px;
  }
  
  .input {
    width: 100%;
    margin-bottom: 20px;
   
  }
  .button {
    width: 100%;
    margin-bottom: 10px;
    background-color:#0288D1;
  }
  @media (max-width: 767px) {
    .card {
      max-width: 400px;
    }
  }