<div class="background">
<form [formGroup]="changeform">
<mat-card class="card">
    <h2 class="title">ESTABLECER CONTRASEÑA</h2>
<mat-form-field appearance="outline" class="input">
    <input matInput placeholder="Nueva contraseña" type="text" [(ngModel)]="ChangePassword.newpassword" formControlName="newpassword" #newpassword/>
    <mat-icon matSuffix>security</mat-icon>
    <mat-error  align="start" *ngIf="changeform.controls['newpassword'].dirty && changeform.hasError('required','newpassword')">Es requerido</mat-error>

</mat-form-field>
<mat-form-field appearance="outline" class="input">
    <input matInput placeholder="Repetir contraseña" type="text" [(ngModel)]="ChangePassword.repeatpassword"  formControlName="repeat" #repeat/>
    <mat-icon matSuffix>privacy_tip</mat-icon>
    <mat-error  align="start" *ngIf="changeform.controls['repeat'].dirty && changeform.hasError('required','repeat')">Es requerido</mat-error>
    <mat-error  align="start" *ngIf="changeform.controls['repeat'].dirty && changeform.hasError('matching','repeat')">Debe ser igual</mat-error>


</mat-form-field>
<button mat-raised-button class="button" [disabled]="!(changeform.valid)">CAMBIAR CONTRASEÑA</button>

</mat-card>
</form>
</div>
