<app-spinner></app-spinner>
<div class="background">
<form [formGroup]="changeform">
<mat-card class="card">
    <h2 class="title">ESTABLECER CONTRASEÑA</h2>
<mat-form-field appearance="outline" class="input">
    <input matInput placeholder="Nueva contraseña" type="text" [(ngModel)]="ChangePassword.password" formControlName="newpassword" #newpassword maxlength="128"/>
    <mat-icon matSuffix>security</mat-icon>
    <mat-error  align="start" *ngIf="changeform.controls['newpassword'].dirty && changeform.hasError('required','newpassword')">Es requerido</mat-error>
    <mat-error  align="start" *ngIf="changeform.controls['newpassword'].dirty && changeform.hasError('minlength','newpassword')">contraseña muy corta</mat-error>


    <mat-hint align="end">{{newpassword.value.length}} / 128</mat-hint>
</mat-form-field>
<mat-form-field appearance="outline" class="input">
    <input matInput placeholder="Repetir contraseña" type="text" [(ngModel)]="ChangePassword.password2"  formControlName="repeat" #repeat/>
    <mat-icon matSuffix>privacy_tip</mat-icon>
    <mat-error  align="start" *ngIf="changeform.controls['repeat'].dirty && changeform.hasError('required','repeat')">Es requerido</mat-error>
    <mat-error  align="start" *ngIf="changeform.controls['repeat'].dirty && changeform.hasError('matching','repeat')">Debe ser igual</mat-error>


</mat-form-field>
<button mat-raised-button class="button" [disabled]="!(changeform.valid)" (click)="submit()">CAMBIAR CONTRASEÑA</button>

</mat-card>
</form>
</div>
